@model IEnumerable<SocialNetwork.Web.Models.PostViewModel>
@using SocialNetwork.Models.Common.Enums
@{
    ViewData["Title"] = "ListPosts";
}

<br />
<br />
<br />
<br />
<br />
<div class="container">

    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ListUsers">Users</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ListPosts">Posts</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ListComments">Comments</a></li>
    </ul>

    <h1>Posts</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                   User
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visibility)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-controller="Account" asp-action="FriendProfile" asp-route-userId="@item.UserId" />
                        @Html.DisplayFor(modelItem => item.UserDisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    @if (!string.IsNullOrWhiteSpace(item.PhotoUrl))
                    {
                        <td>
                            <img src="@item.PhotoUrl" width="50" height="50" />
                        </td>
                    }
                    else
                    {
                        <td>
                            none
                        </td>
                    }
                    <td>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="DeletePost" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-warning" asp-controller="Admin" asp-action="EditPost" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
