@using Microsoft.AspNetCore.Identity
@model PostCommentViewModel
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="tab-pane active" id="timeline">
    <div class="row">
        <div class="col-md-12 timeline-dot">

            <div class="social-timelines p-relative">
                <div class="row timeline-right p-t-35">
                    <div class="col-2 col-sm-2 col-xl-1">
                        <div class="social-timelines-left">
                            <!--<img class="img-radius timeline-icon" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">-->
                            <img class="img-radius timeline-icon" src="@Model.Post.UserProfilePictureUrl" alt="">
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-xl-11 p-l-5 p-b-35">
                        <div class="card">
                            <div class="card-block post-timelines">
                                <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                                <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                    <a class="dropdown-item" href="#">Remove tag</a> @*Change visibility*@
                                    <a class="dropdown-item" href="#">Report Photo</a>
                                    <a class="dropdown-item" href="#">Hide From Timeline</a>
                                    <a class="dropdown-item" href="#">Blog User</a>
                                </div>
                                <div class="chat-header f-w-600"><strong>@Model.Post.UserDisplayName</strong></div>
                                <div class="social-time text-muted">Created on @Model.Post.CreatedOn</div>
                            </div>
                            @*<img src="https://via.placeholder.com/800x350/87CEFA/000000" class="img-fluid width-100" alt="">*@
                            @if (!string.IsNullOrEmpty(Model.Post.PhotoUrl))
                            {
                                <img src="@Model.Post.PhotoUrl" class="img-fluid width-100" alt="">
                            }
                            <div class="card-block">
                                <div class="timeline-details">
                                    <p class="text-muted">@Model.Post.Content</p>
                                </div>
                            </div>
                            <div class="card-block b-b-theme b-t-theme social-msg">
                                @*<button type="button" class="like-button" title="Click to like this post!" asp-controller="Post" asp-action="Like">
                                        <i class="fa fa-thumbs-up"></i> Like
                                        |
                                        <span class="like-count">@Model.Post.Likes.Count</span>
                                    </button>*@
                                <a href="#" onclick="like(@Model.Post.Id)">
                                    <i class="icofont icofont-heart-alt text-muted"></i>
                                    <span id="likesCount_@Model.PostId" class="b-r-muted">Likes (@Model.Post.Likes.Count)</span>
                                </a>
                                <a href="#"> <i class="icofont icofont-comment text-muted"></i> <span class="b-r-muted">Comments (@Model.Post.Comments.Count)</span></a>
                                @*<a href="#"> <i class="icofont icofont-share text-muted"></i> <span>Share (10)</span></a>*@
                            </div>
                            <div class="card-block user-box">
                                @*<div class="p-b-30"> <span class="f-14"><a href="#">Comments (110)</a></span><span class="f-right">see all comments</span></div>*@
                                @foreach (var comment in Model.Post.Comments)
                                {
                                    <div class="media m-b-20">
                                        <a class="media-left" href="#">
                                            <img class="media-object img-radius m-r-20" src="@comment.UserProfilePictureUrl" width="10" height="10">
                                        </a>
                                        <div class="media-body b-b-muted social-client-description">
                                            <div class="chat-header">@comment.UserDisplayName<span class="text-muted">@comment.CreatedOn</span></div>
                                            <p class="text-muted">@comment.Content</p>
                                        </div>
                                    </div>
                                }
                                <!-- Comment on a post -->
                                @if (Model.Post.Visibility == SocialNetwork.Models.Common.Enums.Visibility.Public)
                                {
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <!--<img class="media-object img-radius m-r-20" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Generic placeholder image">-->
                                            <img class="media-object img-radius m-r-20" src="@user.ProfilePictureUrl">
                                        </a>
                                        <div class="media-body">
                                            @*<div class="">

                                                    <textarea rows="5" cols="5" class="content" asp-for="NewComment.Content" placeholder="Write Something here..."></textarea>

                                                    <input style="display: none" asp-for="NewComment.PostId" value="Model.Post.Id" />

                                                    <input style="display: none" class="postId" value="@Model.Post.Id" />

                                                    <button type="submit" value="Create" class="btn btn-primary" onclick="submitComment(this)" />

                                                </div>*@
                                            <form class="" method="post" asp-controller="Post" asp-action="Comment">
                                                <div class="">
                                                    <textarea rows="5" cols="5" class="form-control" asp-for="NewComment.Content" placeholder="Write Something here..."></textarea>
                                                    <input style="display: none" asp-for="NewComment.PostId" value="@Model.Post.Id" />
                                                    <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*            <div class="media m-b-20">
                    <a class="media-left" href="#">
                        <img class="media-object img-radius m-r-20" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image">
                    </a>
                    <div class="media-body b-b-muted social-client-description">
                        <div class="chat-header">About Marta Williams<span class="text-muted">Jane 11, 2015</span></div>
                        <p class="text-muted">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>*@

            @*<div class="social-timelines p-relative">
                    <div class="row timeline-right p-t-35">
                        <div class="col-2 col-sm-2 col-xl-1">
                            <div class="social-timelines-left">
                                <img class="img-radius timeline-icon" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-xl-11 p-l-5 p-b-35">
                            <div class="card">
                                <div class="card-block post-timelines">
                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                        <a class="dropdown-item" href="#">Remove tag</a>
                                        <a class="dropdown-item" href="#">Report Photo</a>
                                        <a class="dropdown-item" href="#">Hide From Timeline</a>
                                        <a class="dropdown-item" href="#">Blog User</a>
                                    </div>
                                    <div class="chat-header f-w-600">Josephin Doe posted on your timeline</div>
                                    <div class="social-time text-muted">50 minutes ago</div>
                                </div>
                                <img src="https://via.placeholder.com/800x350/FF69B4/000000" class="img-fluid width-100" alt="">
                                <div class="card-block">
                                    <div class="timeline-details">
                                        <div class="chat-header">Josephin Doe posted on your timeline</div>
                                        <p class="text-muted">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                                    </div>
                                </div>
                                <div class="card-block b-b-theme b-t-theme social-msg">
                                    <a href="#"> <i class="icofont icofont-heart-alt text-muted"></i><span class="b-r-muted">Like (20)</span></a>
                                    <a href="#"> <i class="icofont icofont-comment text-muted"></i><span class="b-r-muted">Comments (25)</span> </a>
                                    <a href="#"> <i class="icofont icofont-share text-muted"></i><span>Share (10)</span> </a>
                                </div>
                                <div class="card-block user-box">
                                    <div class="p-b-30"> <span class="f-14"><a href="#">Comments (110)</a></span><span class="f-right">see all comments</span></div>
                                    <div class="media m-b-20">
                                        <a class="media-left" href="#">
                                            <img class="media-object img-radius m-r-20" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body b-b-muted social-client-description">
                                            <div class="chat-header">About Marta Williams<span class="text-muted">Jane 10, 2015</span></div>
                                            <p class="text-muted">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object img-radius m-r-20" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body">
                                            <form class="">
                                                <div class="">
                                                    <textarea rows="5" cols="5" class="form-control" placeholder="Write Something here..."></textarea>
                                                    <div class="text-right m-t-20"><a href="#" class="btn btn-primary waves-effect waves-light">Post</a></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            @*    <div class="f-30 text-muted text-center">2014</div>
                <div class="row">
                    <div class="col-md-12 timeline-dot">
                        <div class="social-timelines p-relative">
                            <div class="row timeline-right p-t-35">
                                <div class="col-2 col-sm-2 col-xl-1">
                                    <div class="social-timelines-left">
                                        <img class="img-radius timeline-icon" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-xl-11 p-l-5 p-b-35">
                                    <div class="card">
                                        <div class="card-block post-timelines">
                                            <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                                            <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                <a class="dropdown-item" href="#">Remove tag</a>
                                                <a class="dropdown-item" href="#">Report Photo</a>
                                                <a class="dropdown-item" href="#">Hide From Timeline</a>
                                                <a class="dropdown-item" href="#">Blog User</a>
                                            </div>
                                            <div class="chat-header f-w-600">Josephin Doe posted on your timeline</div>
                                            <div class="social-time text-muted">50 minutes ago</div>
                                        </div>
                                        <img src="https://via.placeholder.com/800x350/20B2AA/000000" class="img-fluid width-100" alt="">
                                        <div class="card-block">
                                            <div class="timeline-details">
                                                <div class="chat-header">Josephin Doe posted on your timeline</div>
                                                <p class="text-muted">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                                            </div>
                                        </div>
                                        <div class="card-block b-b-theme b-t-theme social-msg">
                                            <a href="#"> <i class="icofont icofont-heart-alt text-muted"></i><span class="b-r-muted">Like (20)</span> </a>
                                            <a href="#"> <i class="icofont icofont-comment text-muted"></i> <span class="b-r-muted">Comments (25)</span></a>
                                            <a href="#"> <i class="icofont icofont-share text-muted"></i> <span>Share (10)</span></a>
                                        </div>
                                        <div class="card-block user-box">
                                            <div class="p-b-30"> <span class="f-14"><a href="#">Comments (110)</a></span><span class="f-right">see all comments</span></div>
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img class="media-object img-radius m-r-20" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Generic placeholder image">
                                                </a>
                                                <div class="media-body">
                                                    <form class="">
                                                        <div class="">
                                                            <textarea rows="5" cols="5" class="form-control" placeholder="Write Something here..."></textarea>
                                                            <div class="text-right m-t-20"><a href="#" class="btn btn-primary waves-effect waves-light">Post</a></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<script>
    function submitComment(button) {

        console.log(button);

        let commentContent = $(button).siblings('.content').val();
        console.log(commentContent);

        let postId = $(button).siblings('.postId').val();

        let vm = {
            viewModel: {
                Post: {
                    Id: postId
                },
                NewComment: {
                    Content: commentContent
                },
                Test: "Ali"
            }
        };

        debugger;
        $.ajax({
            type: "POST",
            url: "/Post/Comment",
            data: JSON.stringify(vm),
            dataType: "json",
            contentType: "application/json",
        });
    }
</script>






@section Scripts{
    <script>
        $('#addComment').click(function () {
            var json = @Model.NewComment.Content;
            console.log(json);
            $.ajax({
                        type: "POST",
                        url: "https://localhost:5001/Post/Comment",
                        data: JSON.stringify(json),
                        contentType: "application/json; charset=utf-8",
                        processData: 'json',
                success: function (data) {
                    console.log(data);
                    $().html(data)
                        }
                    })
                })
    </script>

 
}