@model UserViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content social-timeline">
                <div class="">

                    <!-- Cover photo-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-wallpaper">
                                <div class="profile">
                                    <img class="img-fluid width-100" src="@Model.CoverPictureUrl" @*src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/08/nature-design.jpg"*@ />
                                </div>
                            </div>
                            <div class="timeline-btn">
                                <div class="modal fade" id="changeCoverPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="exampleModalLongTitle">Choose photo</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <form method="post" enctype="multipart/form-data">
                                                            <div class="form-group">
                                                                <label> Upload photo </label>
                                                                <label asp-for="@Model.Posts.Last().file" class="control-label"></label>
                                                                <input asp-for="@Model.Posts.Last().file" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="Upload" class="btn btn-primary" asp-controller="Post" asp-action="ChangeCoverPhoto" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                    Change Cover
                                </button>
                                @*<a class="btn alime-btn" asp-controller="Post" asp-action="ChangeCoverPhoto">Change cover photo</a>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                            <!-- Left section -->
                            <div class="social-timeline-left">
                                <!-- Profile Card -->
                                <div class="card">
                                    <!-- Profile Photo -->
                                    <div class="social-profile">
                                        <img class="img-fluid width-100" src="@Model.ProfilePictureUrl" alt="">
                                        <div class="profile-hvr m-t-15">
                                            <i class="icofont icofont-ui-edit p-r-10"></i>
                                            <i class="icofont icofont-ui-delete"></i>
                                        </div>
                                    </div>
                                    <!-- Profile info -->
                                    <div class="card-block social-follower">
                                        <h4>@Model.DisplayName</h4>
                                        @if (!string.IsNullOrWhiteSpace(Model.Education))
                                        {
                                            <h5>@Model.Education</h5>
                                        }
                                        <!--<div class="row follower-counter">
                                            <!-- Profile Icons -->
                                        <!--@*<div class="col-4">
                                                <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="485">
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="2k">
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-success btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="90">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>*@
                                        </div>-->
                                        <div class="">
                                            <div class="modal fade" id="changeProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLongTitle">Choose photo</h3>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <form method="post" enctype="multipart/form-data" asp-controller="Post" asp-action="ChangeProfilePhoto">
                                                                        <div class="form-group">
                                                                            <label> Upload photo </label>
                                                                            <label asp-for="@Model.Posts.Last().file" class="control-label"></label>
                                                                            <input asp-for="@Model.Posts.Last().file" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="submit" value="Upload" class="btn btn-primary" />
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changeProfilePhoto">
                                                Change Picture
                                            </button>

                                            @*<a asp-controller="Post" asp-action="ChangeProfilePhoto" class="btn btn-outline-primary btn-block">
                                                    <i class="icofont icofont-ui-user m-r-10">
                                                    </i>Change Picture
                                                </a>*@

                                        </div>
                                    </div>
                                </div>

                                <!-- Who to follow -->
                                @* <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-header-text">Who to follow</h5>
                                        </div>
                                        <div class="card-block user-box">
                                            <div class="media m-b-10">
                                                <a class="media-left" href="#!">
                                                    <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                                    <div class="live-status bg-danger"></div>
                                                </a>
                                                <div class="media-body">
                                                    <div class="chat-header">Josephin Doe</div>
                                                    <div class="text-muted social-designation">Softwear Engineer</div>
                                                </div>
                                            </div>
                                            <div class="media m-b-10">
                                                <a class="media-left" href="#!">
                                                    <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                                    <div class="live-status bg-success"></div>
                                                </a>
                                                <div class="media-body">
                                                    <div class="chat-header">Josephin Doe</div>
                                                    <div class="text-muted social-designation">Softwear Engineer</div>
                                                </div>
                                            </div>
                                            <div class="media m-b-10">
                                                <a class="media-left" href="#!">
                                                    <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                                    <div class="live-status bg-danger"></div>
                                                </a>
                                                <div class="media-body">
                                                    <div class="chat-header">Josephin Doe</div>
                                                    <div class="text-muted social-designation">Softwear Engineer</div>
                                                </div>
                                            </div>
                                            <div class="media m-b-10">
                                                <a class="media-left" href="#!">
                                                    <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                                    <div class="live-status bg-success"></div>
                                                </a>
                                                <div class="media-body">
                                                    <div class="chat-header">Josephin Doe</div>
                                                    <div class="text-muted social-designation">Softwear Engineer</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <!-- Friends -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-header-text d-inline-block">Friends</h5>

                                        <span class="label label-primary f-right"> @Model.Friends.Count() </span>
                                    </div>
                                    <div class="card-block friend-box">
                                        @foreach (var friend in Model.Friends.Take(6))
                                        {
                                            <a asp-controller="Account" asp-action="FriendProfile" asp-route-userId="@friend.UserFriendId">
                                                <img class="media-object img-radius" src="@friend.UserFriendProfilePictureUrl" data-toggle="tooltip" data-placement="top" data-original-title="user image">
                                            </a>
                                        }
                                        @*<img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">
                                            <img class="media-object img-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="user image">*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Profile Tabs-->
                        <partial name="_ProfileTabsPartial" />
                        @*CREATE POST SECTION!   https://www.bootdey.com/bootstrap-snippets?utf8=%E2%9C%93&q=search*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>