@using Microsoft.AspNetCore.Identity
@model List<PostCommentViewModel>

@inject UserManager<User> UserManager
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User); }

<style>
    .social-timelines:before {
        background: rgba(0, 0, 0, 0);
    }
</style>

<br />
<br />
<br />
<br />
<br />

<div class="container">

    <h1>Have a great @DateTime.Today.DayOfWeek, @user.DisplayName.Split(' ')[0]!</h1>

    @foreach (var item in Model)
    {
<partial name="_PostViewPartial" model="item" />}
</div>
@*<table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <th>@item.UserDisplayName</th>
                </tr>
                <tr>
                    <th>@item.Content</th>
                </tr>
                <tr>
                    <th>@item.Likes.Count</th>
                </tr>
                @if (item.PhotoUrl != null)
                {
                    <tr>
                        <th>
                            <img class="card-img" src="@item.PhotoUrl" alt="photo" height="250" width="250">
                        </th>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
